<p id="notice"><%= notice %></p>

<p>
  <strong>Extension:</strong>
  <%= @extension.extension %>
</p>

<p>
  <strong>Name:</strong>
  <%= @extension.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @extension.email %>
</p>

<p>
  <strong>Department:</strong>
  <%= @extension.department %>
</p>

<%= link_to 'Edit', edit_extension_path(@extension) %> |
<%= link_to 'Back', extensions_path %>
