<div class="row centraTodo">
	<div>
	   <%= image_tag "jlw.png"%>
	</div>
	<div class="col-md">
	   <h1  class="orange_lnk">Jose L. Wong</h1>
	<p>A self-starter with entrepreneurial spirit and a quick learner. With a versatile skill set and 11 years’ experience in different fields including Manufacture, Banking, Maritime Logistics, Industrial Recycling of Metals, Government, Oil Industry, Sales and Educational. Background include 9+ years’ experience in Computer Programming, Project Management, Database Management, Network Management, Structured Cable, Setup and Management of Telecommunications as well as 3+ years’ experience in developing, auditing and implementing quality systems complying with ISO 27001, ISO 9001, ISO 14001 and OSHAS 18001, customer service, sales and business development. Always oriented to increase company's and self-growth.

	<h3 class="orange_lnk">Capacity summary</h3>
		<ul class='dsk'>
          <li>Ruby on Rails, .NET, JSP, ASP, PHP Web development</li>
          <li>VB.NET, C#, WPF, JAVA software development</li>
          <li>Project Management</li>
          <li>Database Administration</li>
          <li>Logistic programming</li>
          <li>Quality Management Systems Implementation</li>
          <li>Technical support</li>
          <li>Network Installation and Support</li>
          <li>Preventive and corrective maintenance for computer equipment</li>
          <li>Fluent in Spanish and English</li>
        </ul>

       <hr/></p>
       <p style="text-align:right;">
       	<%= link_to image_tag('email-1.png', height: '32', width: '32'), 'mailto:jlwong.ac@gmail.com', class:'nada'%>&nbsp;<%= link_to image_tag('linkedin.png', height: '32', width: '32'), 'https://mx.linkedin.com/in/jlwong82', class:'nada', target: '_blank' %>&nbsp;<%= link_to image_tag('facebook.png', height: '32', width: '32'), 'https://www.facebook.com/jlwong82', class:'nada', target: '_blank' %>&nbsp;<%= link_to image_tag('twitter.png', height: '32', width: '32'), 'https://twitter.com/jlwong82', class:'nada', target: '_blank' %>
	</p>
	</div>

</div>